# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/
.zed/
.phpactor.json

# AI Tools
.cursor/
.codex/

# Laravel
/vendor/
/node_modules/

# Build
/public/build/
/public/hot
/public/storage

# Cache
.phpunit.result.cache
.phpunit.cache/
_ide_helper.php

# Laravel Storage
/storage/*.key
/storage/pail

# Homestead
Homestead.json
Homestead.yaml

# Auth
auth.json

# Nova
.nova/

# Testing
coverage/

# Docker
docker-compose.override.yml